---

- name: create test curl script for public HTTPS LB and private TCP LB
  template:
    src: "{{item}}"
    dest: .
    owner: ubuntu
    mode: 0775
  loop:
    - test-curl-primary.sh
    - test-curl-secondary.sh

- name: copy key and cert pairing check
  copy:
    src: openssl_key_cert_check.sh
    dest: .
    owner: ubuntu
    mode: 0775

- name: test primary public static IP ingress
  command:
    cmd: ./test-curl-primary.sh
  register: public_results
  environment:
    KUBECONFIG: "{{remote_kubeconfig}}"
  ignore_errors: true
- debug: 
    msg: "{{ (public_results.rc|int == 0) | ternary(public_results.stdout_lines,public_results.stderr_lines) }}"

- name: test primary and secondary internal IP ingress
  command:
    cmd: ./test-curl-secondary.sh
  register: internal_results
  ignore_errors: true
- debug:
    msg: "{{ (internal_results.rc==0) | ternary(internal_results.stdout_lines,internal_results.stderr_lines) }}"



