---

- name: set gcloud login context with service account
  include_role:
    name: gcloud-use-serviceaccount
    tasks_from: main


- name: copy ASM installer script
  copy:
    src: install_asm.sh
    dest: .
    mode: 0755

- name: run ASM install script
  command:
    cmd: ./install_asm.sh {{asm_type}} {{asm_version}} {{asm_release_channel}} {{cluster_type}} {{cluster_name}} {{project_id}} {{region}} {{is_regional_cluster}}
  register: asm_install
- debug: msg="{{asm_install}}"
