---

- name: install list of packages, debian based
  apt:
    pkg:
    - net-tools # netstat
    - jq # json tool
    - vim
    - curl
    - whois
    - zip
    - unzip
    - ntpdate
    - netcat
    - traceroute
    - python-is-python3
    state: present
    update_cache: true
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  register: apt_install
  retries: 3
  delay: 60
  until: apt_install is success or ('Unable to acquire the dpkg frontend lock' not in apt_install.msg)

- name: install python3 packages
  apt:
    pkg:
    - python3
    - python3-pip
    - python3-setuptools
    state: present
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  register: apt_install
  retries: 3
  delay: 60
  until: apt_install is success or ('Unable to acquire the dpkg frontend lock' not in apt_install.msg)

- name: install required pip3 dependencies for ansible galaxy kubernetes modules
  become: yes
  pip:
    name:
      - openshift
      - pyyaml
    executable: pip3
    # not necessary to use extra_args
    #extra_args: --upgrade pip

- name: update editor preferences, Ubuntu
  command: /usr/bin/update-alternatives --set editor /usr/bin/vim.basic
  register: command_result
  changed_when: "command_result.stdout != ''"
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
#- debug: msg="{{command_result}}"

- name: update python preferences, Ubuntu
  command: update-alternatives --install /usr/bin/python python /usr/bin/python3 20
  register: command_result
  changed_when: "command_result.stdout != ''"
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
- debug: msg="{{command_result}}"

- name: vimrc skeleton
  copy:
    dest: /etc/skel/.vimrc
    content: |
      colorscheme desert
      syntax on
      set paste
      set ruler
      autocmd FileType python setlocal ts=4 sts=4 sw=4 expandtab number autoindent
      autocmd FileType yaml setlocal ts=2 sts=2 sw=2 expandtab autoindent
      set foldenable
      set foldlevelstart=20
      set foldmethod=indent
      nnoremap <space> za

- name: default .bash_profile
  copy:
    dest: "/home/ubuntu/.bash_profile"
    owner: ubuntu
    group: ubuntu
    mode: 0664
    content: |
      alias lsl='ls -latr'
      export EDITOR=vim
      export VISUAL=vim
      export KUBECONFIG=/home/ubuntu/kubeconfig-{{cluster_name}}
