apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: ingress-backendconfig
  #namespace: asm-gateways
spec:
  healthCheck:
    requestPath: /healthz/ready
    port: 15021
    type: HTTP
  # Cloud Armor policy
  #securityPolicy:
  #  name: ingress-security-policy

